p{
    font-size: 19px;
    
}
h1{
    font-family: Comic Sans MS;
    
}
a{
    font-weight: 900;
    
}
body{
    background-color: black;
}
.txt{
    color:wheat;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 900px;
    font-style: normal;
    font-size: 50px;
}
