@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Rubik+Bubbles&display=swap');

.up{
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 0;
}
body{
  margin: 0;
  padding: 0;
}
main{
  height: 50vh;
  margin: 0;
  padding: 0;
  background-image: url('astronaut-bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding-top: 100px;
}
main div{
  margin-left: 30%;
  margin-top: 15%;
  margin-right: 30%;
  margin-bottom: 100px;

  border: solid;
  border-color: white;
  color:white;
  padding: 50px;
}
body div{
  margin-left: 30%;
  margin-top: 10;
  margin-right: 30%;
}
body{
  background-image: url("pattern.jpg");
}

span{
  background-color: blue;
  padding: 10px
}