@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

.comic-relief-regular {
    font-family: "Comicc", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 32px;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black; 
  }
  
  a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: black;
}
* {
    margin: 0;
    padding: 0;
}


header {
    height: 180px;
    display: flex;
    background-color: #FFD700;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 50px;    
}
.logoa {
    display: flex;
    justify-content: center;   
}

.head-txt {
    font-family: 'Dela Gothic One';
    font-size: 35px;

    margin-left: 50px;
    margin-top: 50px;
}

#social {
    margin-right: 480px;
}

.main-txt_headd {
    font-family: 'Comicc';
    font-size: 80px;

    margin: 220px 50px 50px 50px;

}
.main-txt_head {
    font-family: 'Comicc';
    font-size: 80px;

    margin: 80px 50px 50px 50px;

}
.main-txt_main {
    font-family: 'oswald';
    font-size: 50px;
    margin-top: 40px;
    margin-left: 50px;
}

.a_h {
    font-family: 'oswald';
    font-size: 50px;
}

.for-history {
    
    
    margin-top: 40px;
    border: solid;
    border-radius: 50px;
    width: 500px;
}

.f-h {
    display: flex;
    justify-content: center;
}

.float-left {
    float: left;       
    margin-right: 20px;
    width: 200px;
}

.main-txt_subhead {
    font-family: 'Comicc';
    font-size: 60px;

    margin: 80px 50px 50px 50px;
}